<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./head/head');  %> 
    </head>
    <body id="body-index">
    <%- include('./body/navigation');  %>
    <section class="bg-color">
        <% patients.forEach( (element) => { %>
            <div class="bubble-nurses">
                <a href="patients/<%=element.id%>">Ver más</a>
                <p> <%=  element.name %> </p>
                <p> <%= element.age %> </p>
            </div> 
        <% }) %> 
    </section>
        
    <%- include('./body/javascript');  %>
    </body>
</html>