<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./head/head');  %> 
    </head>
    <body id="body-index">
    <%- include('./body/navigation');  %>
    <section class="bg-color">
        <%= patient.name  %> 
        <%= patient.age  %>
        <%= patient.gender  %>
        <%= patient.bio  %>
        <%= patient.chronic  %>
        <a class="delete btn btn-primary" data-doc="<%=patient._id%> " >delete</a>
    <%- include('./body/javascript');  %>
    
    <script>
        const trashcan = document.querySelector('a.delete');
        
        trashcan.addEventListener('click', (e) => {
            const endpoint = `/patients/${trashcan.dataset.doc}`;

            fetch(endpoint, {
                method: 'DELETE'
            })
            .then((response) => response.json() )
            .then((data)=> window.location.href = data.redirect)
            .catch(err => console.log(err)); 
        })
    </script>
    </body>
</html>